<div class="row">
    <div class="col-sm-4">

        <div class="word-block">
            <div class="word-image-container fileinput-button">
                <div class="word-image">
                    {{#if word.thumb}}
                        <img src="{{word.thumb}}">
                    {{else}}
                        <div class="btn btn-default btn-lg">
                            <i class="fa fa-plus"></i>
                        </div>
                    {{/if}}
                </div>
                <input class="fileupload" type="file" name="image" multiple>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="word-name{{cid}}" class="col-sm-4 control-label">Vorto</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control word-name" id="word-name{{cid}}" placeholder="...">
                </div>
            </div>

            <div class="form-group">
                <label for="word-categories{{cid}}" class="col-sm-4 control-label">Kategoro</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control word-categories" id="word-categories{{cid}}">
                </div>
            </div>

            <div class="form-group">
                <label for="word-class{{cid}}" class="col-sm-4 control-label">Vorto Klasso</label>

                <div class="col-sm-8">
                    <select class="form-control word-class" id="word-class{{cid}}">
                        <option value="S">Subtantivo</option>
                        <option value="A">Adjektivo</option>
                        <option value="V">Verbo</option>
                        <option value="N">Numeralo</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 checkbox">
                    <label>
                        <input type="checkbox" class="show-top">Montri supre
                    </label>
                </div>
                <div class="col-md-4 checkbox">
                    <label>
                        <input type="checkbox" class="show-main">Montri ĉefe
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button type="submit" class="btn btn-danger word-delete hide">Delete</button>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary word-add-submit pull-right">Ok</button>
    </div>
</div>